<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.QQ">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 添加网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 添加相机和读写状态权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- Permission to write to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Permission to read from external storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />





    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QQ">
        <activity android:name="com.example.QQ.MakeMomentPage"></activity>
        <activity android:name="com.example.QQ.EmptyContentPage" />
        <activity android:name="com.example.QQ.ChatPage" />
        <activity android:name="com.example.QQ.ChatGptPage" />
        <activity android:name="com.example.QQ.AddFriendPage" />
        <activity
            android:name="com.example.QQ.Index"
            android:label="@string/title_activity_index" />
        <activity android:name="com.example.QQ.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.QQ.LoginActivity" />
        <activity android:name="com.example.QQ.MineFragment"
            tools:ignore="Instantiatable" />
        <activity android:name="com.example.QQ.MusicPlayerActivity" />
        <activity android:name="com.example.QQ.StateActivity" />
        <activity android:name="com.example.QQ.RegistActivity" />
        <activity android:name="com.example.QQ.DeleteAccountActivity" />
    </application>

</manifest>